<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Importação de fontes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="/css/style.css">

    <!-- Importação elementos bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


    <title>TarsRH | Candidato</title>
</head>
<body>
    <!-- Topo / Logo -->
    <header>
        <div class="topoContainer">
            <div class="topoLogo">
                <img src="/assets/TarsRH.jpg" alt="TarsRH Logo" title="TarsRH Logo">
            </div>
        </div>
    </header>

    <!-- Topo > Preencha o fomrulário -->
    <section class="preenchaContainer">
        <div class="preenchaConteudo">
            <p>Olá, candidato(a)!</p>
            <span class="preenchaConteudoTextoMaior">Seus dados foram enviados!</span>
        </div>
    </section>

    <!-- Conteúdo > Formulário -->
    <section class="formContainer">
        <h1>Em algum tempinho, o RH entrará em contato com você.</h1>
    </section>
    <!-- Footer -->
    <footer class="rodapeContainer">
        <p>MySec Information 2021. Todos os direitos reservados.</p>
        <p>Designer by MySec Studio</p>
    </footer>

    <script type="text/javascript" src="/js/scripts.js"></script>
</body>
</html>